body {
  padding-left: 20px;
}
h1 {
  margin-top: 0;
}
#contentDiv {
  background-color: #cccccc;
  padding: 10px;
}
#favoritesDiv {
  width: 660px;
  height: 150px;
  background-color: #ffffdd;
}
ol {
  float: left;
  width: 300px;
  padding-left: 10px;
  margin-left: 10px;
}
h2, ul, ol {
  color: darkblue;
  font-size: 20px;
}
p, li {
  color: black;
  width: 600px;
  font-size: 16px;
}
div {
  float: left;
}
#tableDiv {
  padding-left: 30px;
  /*padding-top: 65px;*/
}
td {
  height: 50px;
  width: 33%;
}
table {
  width: 500px;
  border: 1px solid black;
  border-collapse: collapse;
}
.tableTitle {
  text-decoration: underline;
  font-size: 20px;
  padding-bottom: 5px;
}
.answers {
  border-left: 1px solid black;
}
.questions, .answers {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  padding-left: 10px;
}
.results {
  /*width: 50%;*/
}
