h2 {
  color: darkblue;
}
p {
  color: black;
  width: 600px;
}
div {
  /*display: inline-block;*/
  float: left;
}
#tableDiv {
  padding-left: 30px;
  padding-top: 65px;
}
.questions, .answers {
  height: 50px;
  width: 300px;
  outline: 1px solid black;
}
table {
  width: 500px;
  outline: 1px solid black;
}
td {
  width: 50%;
}
th {
  border-bottom: 1px solid black;
}
