h2 {
  color: darkblue;
}
p {
  color: black;
  width: 600px;
}
div {
  float: left;
}
#tableDiv {
  padding-left: 30px;
  padding-top: 65px;
}
td {
  height: 50px;
  width: 50%;
  outline: 1px solid black;
}
table {
  width: 500px;
  border: 1px solid black;
}
#tableTitle {
  border-bottom: 1px solid black;
}
